In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

# 1: Define Tickers and Time Range

In [16]:
# Define the list of tickers
tickers = ['SPY', # Largest SNP ETF
           'BND', # Largest Bond ETF
           'GLD', # Largest Gold ETF
           'VTI'  # Largest World index
          ]

In [19]:
# Set the end date to today
end_date = datetime.today()

# Set the start date to 2 years
start_date = end_date - timedelta(days = 2*365)

# 2: Download Close Prices

In [13]:
# Create an empy DataFrame to store the close prices
close_df = pd.DataFrame()

In [23]:
# Download the close prices for each tickers
for ticker in tickers:
    data = yf.download(ticker,
                       start = start_date,
                       end = end_date)
    close_df[ticker] = data['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [24]:
close_df

                   SPY        BND         GLD         VTI
Date
2021-11-29  450.581268  80.675613  166.619995  230.891022
2021-11-30  441.814056  80.826988  165.500000  226.277267
2021-12-01  436.906738  80.879120  166.160004  223.088348
2021-12-02  443.598511  80.888603  165.240005  226.713425
2021-12-03  439.738678  81.201340  166.630005  224.086716
...                ...        ...         ...         ...
2023-11-20  454.260010  70.739998  183.369995  224.789993
2023-11-21  453.269989  70.839996  185.350006  224.179993
2023-11-22  455.019989  70.900002  184.559998  225.139999
2023-11-24  455.299988  70.559998  185.520004  225.380005
2023-11-27  454.480011  70.989998  186.770004  225.089996

[502 rows x 4 columns]

# 3: Set Output Folder and Export Data

In [32]:
# Path in which we want to export it
# output_folder = r'(...)'

In [33]:
close_df.to_csv(f'{output_folder}/stock_prices.csv')

# 4: Acknowledgement

This tutorial has been conducted in a similar way as in the video 'Intro to Python for Finance: A Beginner's Guide
', by Ryan O'Connell. <br>
Video available at: <br>
https://www.youtube.com/watch?v=uOqPElBsBmM&list=PLPe-_ytPHqyg4ap7hysD4pOBJMz0mnLly&index=5&ab_channel=RyanO%27Connell%2CCFA%2CFRM